@model Evoke.Rnd.Solr.Api.Models.ModelRepository.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>